<section class="bg-white">
  <div class="container-fluid py-28">
    <h2 class="text-center text-4xl text-primary-600 mb-14 font-extrabold">Other Categories</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div class="category-item bg-grocery">
        <h3 class="category-header">Groceries</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#seemore" class="flex font-extrabold text-white uppercase text-sm">See more <img src="/assets/images/arrow.svg"
            class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-pets">
        <h3 class="text-white text-2xl font-extrabold">Pets</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#pets" class="flex font-extrabold text-white uppercase text-sm">See more <img
              src="/assets/images/arrow.svg" class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-retail">
        <h3 class="category-header">Retail</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#retail" class="flex font-extrabold text-white uppercase text-sm">See more <img
              src="/assets/images/arrow.svg" class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-experience">
        <h3 class="text-white text-2xl font-extrabold">Experience</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#experience" class="flex font-extrabold text-white uppercase text-sm">See more <img
              src="/assets/images/arrow.svg" class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-healthnbeauty">
        <h3 class="category-header">Health & Beauty</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#healthnbeauty" class="flex font-extrabold text-white uppercase text-sm">See more <img
              src="/assets/images/arrow.svg" class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-electronics">
        <h3 class="text-white text-2xl font-extrabold">Electronics</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#electronics" class="flex font-extrabold text-white uppercase text-sm">See more <img
              src="/assets/images/arrow.svg" class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-subscription">
        <h3 class="category-header">Subscriptions</h3>
        <div class="text-white">
          <p class="text-[14px] mb-4">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <a href="#subscription" class="flex font-extrabold text-white uppercase text-sm">See more <img
              src="/assets/images/arrow.svg" class="ml-2"></a>
        </div>
      </div>
      <div class="category-item bg-dark link">
        <a href="#viewall" class="flex items-center text-white text-base font-extrabold">View All <img src="/assets/images/arrow.svg" class="ml-2"></a>
      </div>
    </div>
  </div>
</section>