.btn-2{
    button{
        border: none;
        background: #E3E9F0;
        border-radius: 6px;
        padding: 12px 70px;
    }
}
.divider{
    border-left: 1px solid #BDC7D3;
}
.divider-bottom{
    border-bottom: 1px solid #BDC7D3;
}