<section class="w-full h-3/5 py-20">
    <div class="text-center">
        <h1 class="text-[#275cb1] font-extrabold text-4xl">ExcitePay App Features</h1>
        <p class="text-base font-medium px-[600px]">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
    </div>

    <div class="mt-20" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center">
        <div nz-col nzSpan="3">
            <img class="block m-auto" src="assets/icons/shop-retail-icon.svg">
            <p class="mt-4 text-[#275CB1] font-extrabold text-xl text-center">Shop Retail & Online</p>
        </div>

        <div nz-col nzSpan="3">
            <img class="block m-auto" src="assets/icons/gift-card-icon.svg">
            <p class="mt-4 text-[#275CB1] font-extrabold text-xl text-center">Instant Issue Gift Cards</p>
        </div>

        <div nz-col nzSpan="3">
            <img class="block m-auto" src="assets/icons/fast-checkout-icon.svg">
            <p class="mt-4 text-[#275CB1] font-extrabold text-xl text-center">Extremely Fast Checkout</p>
        </div>

        <div nz-col nzSpan="3">
            <img class="block m-auto" src="assets/icons/excitepay-card-icon.svg">
            <p class="mt-4 text-[#275CB1] font-extrabold text-xl text-center">Manage ExcitePay Cards</p>
        </div>

        <div nz-col nzSpan="3">
            <img class="block m-auto" src="assets/icons/online-support-icon.svg">
            <p class="mt-4 text-[#275CB1] font-extrabold text-xl text-center">24/7 Online Support</p>
        </div>

    </div>
</section>
