@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  // https://www.tailwindshades.com/
  html {
    --excite-pay-white: #FCFCFC;
    --excite-pay-gray: #333335;
    --excite-pay-darkgray: #1E1E1E;

    //primary
    --excite-pay-primary: #3376E4;
    --excite-pay-primary-50: #D5E3F9;
    --excite-pay-primary-100: #C3D7F7;
    --excite-pay-primary-200: #9FBFF2;
    --excite-pay-primary-300: #7BA6EE;
    --excite-pay-primary-400: #578EE9;
    --excite-pay-primary-500: #3376E4;
    --excite-pay-primary-600: #275CB1;
    --excite-pay-primary-700: #134493;
    --excite-pay-primary-800: #0D2D62;
    --excite-pay-primary-900: #102F59;

    //dark
    --excite-pay-dark: #1D1D1D;
    --excite-pay-dark-50: #848484;
    --excite-pay-dark-100: #797979;
    --excite-pay-dark-200: #626262;
    --excite-pay-dark-300: #4B4B4B;
    --excite-pay-dark-400: #343434;
    --excite-pay-dark-500: #1D1D1D;
    --excite-pay-dark-600: #181818;
    --excite-pay-dark-700: #131313;
    --excite-pay-dark-800: #0E0E0E;
    --excite-pay-dark-900: #090909;
  }
}