<!-- about section  -->
<section class="about-bg py-16">
  <div class="container-fluid">
    <div class="grid md:grid-cols-2 gap-4">
      <div class="xl:w-5/6">
        <h2 class="text-4xl font-extrabold mb-5 mt-10 text-primary-600">About ExcitePay</h2>
        <p class="text-lg mb-5">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
          enim.
        </p>
        <p class="text-lg mb-10">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
          rhoncus
          ut, imperdiet a, venenatis vitae, justo.</p>
        <button nz-button class="btn btn-dark">Read More</button>
      </div>
      <div class="text-center py-10 md:py-0 hidden md:block">
        <img src="/assets/images/about-img.svg" class="m-auto w-80 lg:w-96">
      </div>
    </div>
  </div>
</section>