.card {
    //width: 280px;
    //height: 338px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
} 

.select-value {
    border: none;
    width: 111px;
}

.discount {
    background: #34A853;
    width: 69px;
    height: 29px;
    margin-left: -16px;
}