.card {
    width: 280px;
    height: 198px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} 

.container {
    padding: 15px 15px;
    width: 280px;
    background: #FCFCFC;
    border-radius:0 0 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.select-value {
    border: none;
    width: 111px;
}

.discount {
    background: #34A853;
    width: 69px;
    height: 29px;
}