<section>
  <div class="container-fluid">
    <div class="w-full">
      <div class="lg:flex justify-between items-end mb-7">
        <div class="mb-5 lg:mb-0">
          <h1 class="text-primary-600 text-4xl font-extrabold">Featured Cards</h1>
          <p class="text-medium">Vivamus elementum semper nisi.</p>
        </div>
        <div>
          <button nz-button class="btn btn-dark">See More  <img class="pl-2 inline-block" src="assets/icons/arrow-icon.svg"></button>
        </div>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="featured-card">
          <div class="flex center justify-between">
            <div class="h-[30px]">
              <div class="discount">Save 2%</div>
            </div>
            <div class="flex pr-3">
              <nz-rate [ngModel]="5" class="mt-1" nzDisabled></nz-rate>
            </div>
          </div>
          <div class="px-3 py-2">
            <img class="w-full mb-3" src="assets/images/burger-king.png">
            <div class="box-title">Burger King</div>
            <div class="text-sm font-semibold mb-2">from $5 - 50</div>
            <div class="btn-container">
              <nz-select class="w-full" ngModel="$5" nzPlaceHolder="$5">
                <nz-option nzValue="$5" nzLabel="$5"></nz-option>
                <nz-option nzValue="$10" nzLabel="$10"></nz-option>
                <nz-option nzValue="$15" nzLabel="$15"></nz-option>
                <nz-option nzValue="$20" nzLabel="$20"></nz-option>
              </nz-select>
              <button nz-button nzSize="small" class="btn bg-primary-600 text-white text-sm p-1 w-full">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="featured-card">
          <div class="flex center justify-between">
            <div class="h-[30px]">
              <!-- <div class="discount">Save 2%</div> -->
            </div>
            <div class="flex pr-3">
              <nz-rate [ngModel]="5" class="mt-1" nzDisabled></nz-rate>
            </div>
          </div>
          <div class="px-3 py-2">
            <img class="w-full mb-3" src="assets/images/nike.png">
            <div class="box-title">Nike</div>
            <div class="text-sm font-semibold mb-2">from $5 - 50</div>
            <div class="btn-container">
              <nz-select class="w-full" ngModel="$5" nzPlaceHolder="$5">
                <nz-option nzValue="$5" nzLabel="$5"></nz-option>
                <nz-option nzValue="$10" nzLabel="$10"></nz-option>
                <nz-option nzValue="$15" nzLabel="$15"></nz-option>
                <nz-option nzValue="$20" nzLabel="$20"></nz-option>
              </nz-select>
              <button nz-button nzSize="small" class="btn bg-primary-600 text-white text-sm p-1 w-full">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="featured-card">
          <div class="flex center justify-between">
            <div class="h-[30px]">
              <div class="discount">Save 2%</div>
            </div>
            <div class="flex pr-3">
              <nz-rate [ngModel]="5" class="mt-1" nzDisabled></nz-rate>
            </div>
          </div>
          <div class="px-3 py-2">
            <img class="w-full mb-3" src="assets/images/dominos.png">
            <div class="box-title">Burger King</div>
            <div class="text-sm font-semibold mb-2">from $5 - 50</div>
            <div class="btn-container">
              <nz-select class="w-full" ngModel="$5" nzPlaceHolder="$5">
                <nz-option nzValue="$5" nzLabel="$5"></nz-option>
                <nz-option nzValue="$10" nzLabel="$10"></nz-option>
                <nz-option nzValue="$15" nzLabel="$15"></nz-option>
                <nz-option nzValue="$20" nzLabel="$20"></nz-option>
              </nz-select>
              <button nz-button nzSize="small" class="btn bg-primary-600 text-white text-sm p-1 w-full">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="featured-card">
          <div class="flex center justify-between">
            <div class="h-[30px]">
              <div class="discount">Save 2%</div>
            </div>
            <div class="flex pr-3">
              <nz-rate [ngModel]="5" class="mt-1" nzDisabled></nz-rate>
            </div>
          </div>
          <div class="px-3 py-2">
            <img class="w-full mb-3" src="assets/images/ikea.png">
            <div class="box-title">Burger King</div>
            <div class="text-sm font-semibold mb-2">from $5 - 50</div>
            <div class="btn-container">
              <nz-select class="w-full" ngModel="$5" nzPlaceHolder="$5">
                <nz-option nzValue="$5" nzLabel="$5"></nz-option>
                <nz-option nzValue="$10" nzLabel="$10"></nz-option>
                <nz-option nzValue="$15" nzLabel="$15"></nz-option>
                <nz-option nzValue="$20" nzLabel="$20"></nz-option>
              </nz-select>
              <button nz-button nzSize="small" class="btn bg-primary-600 text-white text-sm p-1 w-full">
                Add to Cart
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>