.nav-link {
    @apply text-sm font-semibold text-black;
  
    &.active { @apply text-primary-500}
  }

//.btn-container {
//    @apply grid gap-2 grid-cols-2;
//}

.divider {
    border-bottom: 1px solid #dbdfe4;
    // border-bottom: 1px solid #BDC7D3;
    width: 200px;
}

section {
  background-color: #F5F6F9;
}

.desktop-menu {
  li {
    border-bottom: 1px solid #dbdfe4;
  }
}
.mobile-menu {
  li {
    border-bottom: 1px solid #dbdfe4;
    justify-content: space-between;
    padding-right: 1rem;
  }
}