<app-navbar></app-navbar>
<div class="flex">
    <!-- CATEGORY LISTs-->
    <div class="ml-20 my-32">
        <ul nz-menu nzMode="horizontal">
            <li><h2 class="text-primary font-extrabold text-2xl pb-4">Categories</h2></li>
            <li nz-menu-item class="flex py-2">
                <a href="#features-brands" class="nav-link text-base font-medium w-44">Featured Brands</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#apparel-and-fashion" class="nav-link text-base font-medium w-44">Apparel & Fashion</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#books" class="nav-link text-base font-medium w-44">Books</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#food" class="nav-link text-base font-medium w-44 active">Food</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#travel" class="nav-link text-base font-medium w-44">Travel</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#gifts" class="nav-link text-base font-medium w-44">Gifts</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#charity" class="nav-link text-base font-medium w-44">Charity</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#home" class="nav-link text-base font-medium w-44">Home</a> 
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#entertainment" class="nav-link text-base font-medium w-44">Entertainment</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#music" class="nav-link text-base font-medium w-44">Music</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#footwear" class="nav-link text-base font-medium w-44">Footwear</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#tech-and-electronics" class="nav-link text-base font-medium w-44">Tech & Electronics</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#babies-and-children" class="nav-link text-base font-medium w-44">Babies & Children</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#sports-and-fitness" class="nav-link text-base font-medium w-44">Sports & Fitness</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#health-and-wellness" class="nav-link text-base font-medium w-44">Health & Wellness</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#groceries" class="nav-link text-base font-medium w-44">Groceries</a>
                <img src="/assets/icons/arrow.svg">
            </li>
            <div class="divider"></div>
            <li nz-menu-item class="flex py-2">
                <a href="#all-brands" class="nav-link text-base font-medium w-44">All Brands</a>
                <img src="/assets/icons/arrow.svg">
            </li>
        </ul>
    </div>
    
    <!--FOOD CATEGORIES-->
    <div class="w-[140vh] ml-28">
        <div class="grid grid-cols-2 gap-6">
            <div class="my-auto">
                <div class="text-[#BDC7D3] text-base">
                    <a href="#gift">Gift</a><span> > </span><a href="cards-foods">Cards Food</a>
                </div>
                <h1 class="text-primary-600 text-4xl font-extrabold">Food</h1>
            </div>
            <div class="flex justify-end">
                <div class="my-auto font-extrabold text-sm pr-4">Sort by:</div>
                <nz-select class="w-40 pt-4" ngModel="Featured" nzPlaceHolder="Featured">
                    <nz-option nzValue="Featured 1" nzLabel="Featured 4"></nz-option>
                    <nz-option nzValue="Featured 2" nzLabel="Featured 4"></nz-option>
                    <nz-option nzValue="Featured 3" nzLabel="Featured 4"></nz-option>
                    <nz-option nzValue="Featured 4" nzLabel="Featured 4"></nz-option>
                </nz-select>
            </div>
        </div>
        <!-- <app-food></app-food> -->

        <div class="flex justify-center">
            <button nz-button class="btn btn-dark"><img class="pr-6 inline-block" src="assets/icons/load-icon.svg">See More </button>
        </div>
    </div>
</div>


<!--FOOTER-->