<!-- about section  -->
<section class="about-bg">
    <img src="/assets/images/about-img.svg" alt="" class="absolute right-[340px] h-[51%] mt-7">
    <div class="container pt-20 pl-40 w-2/6 ml-20 max-md:w-auto">
        <h2 class="text-4xl font-extrabold mb-4 text-[#275CB1]">About ExcitePay</h2>
        <p class="text-base mt-5">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <p class="text-base">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

        <Button class="bg-black text-white py-2 px-5 rounded text-base mt-10">Read More</Button>
    </div>

</section>