.about-bg{
    height: 55vh;
    background: url(/assets/images/about-bg.svg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1280px){
.about-bg img {
    display: none;
    }
    .container{
        width: auto;
    }
}

@media (min-width: 1024px){
    .about-bg img {
        right: 220px !important;
    }

}

@media (max-width: 768px) { 
    .container{
        padding-left: 0;
    }
}