<section class="py-2 max-sm:pt-2">
  <div class="card">
    <div class="px-6 max-sm:mx-0 p-2">
      <!-- <img src="/assets/images/hero-phone.png" class="absolute inset-y-0 right-0 w-7/12"> -->
      <div nz-row>
      <!-- <div class="grid grid-rows-1 m-28 max-sm:m-3 max-lg:px-2 md:px-3 max-sm:mt-10 xl:px-4"> -->
        <div nz-col nzSpan="12" class=" mb-8 max-sm:mb-1 max-md:w-auto ">
          <h1 class="text-6xl text-white font-extrabold leading-[5rem] max-sm:text-[40px] max-sm:w-80  max-md:text-5xl lg:text-6xl">
            Shop retail & online with true crypto currency debit cards</h1>

          <p class="text-white text-base md:text-sm sm:text-base">Li nov lingua franca va esser plu simplic e regulari
            quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.
          </p>
          <div class="flex items-center">
            <a href="#appstore" class="mr-4"><img src="/assets/images/appstore-btn.svg" class=""></a>
            <a href="#playstore"><img src="/assets/images/playstore-btn.svg" class=""></a>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <img src="/assets/images/hero-phone.png">
          <!-- <img src="/assets/images/hero-phone.png" class="absolute inset-y-0 right-0 w-7/12"> -->
        </div>

        <!-- <div class="grid grid-rows-1 mt-20 max-sm:mt-2 max-md:mt-1">
          <div class="w-1/4 md:w-1/2 max-md:w-auto max-sm:w-auto my-5">
            <p class="text-white text-base md:text-sm sm:text-base">Li nov lingua franca va esser plu simplic e regulari
              quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-2">
          <div class="">
            <a href="#appstore"><img src="/assets/images/appstore-btn.svg" class=""></a>
          </div>
          <div class="grid-cols-4">
            <a href="#playstore"><img src="/assets/images/playstore-btn.svg" class=""></a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>