<section class="bg-[#F5F6F9] review-bg">
  <div class="container-fluid py-28">
    <div class="text-center">
      <h1 class="text-primary-600 font-extrabold text-4xl mb-2">Customer Reviews</h1>
      <p class="text-base mb-5 font-medium m-auto">Maecenas nec odio et ante tincidunt tempus. Donec
        vitae sapien ut libero venenatis faucibus</p>
    </div>
    <div>
      <swiper-container navigation="true" pagination="true" class="swiper-container mt-14">
        <swiper-slide>
          <div class="grid md:grid-cols-3 gap-5 px-8">
            <div class="md:pb-20 pb-6">
              <div class="review-item dark">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-1.png">
                <p class="flex justify-center items-center">Kenneth Corvera</p>
              </div>
            </div>
            <div class="md:pb-20 pb-6">
              <div class="review-item light">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-2.png">
                <p class="flex justify-center items-center">Cathy Raymundo</p>
              </div>
            </div>
            <div class="md:pb-20 pb-6">
              <div class="review-item dark">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-3.png">
                <p class="flex justify-center items-center">Sonny Pagara</p>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="grid md:grid-cols-3 gap-5 px-8">
            <div class="md:pb-20 pb-6">
              <div class="review-item dark">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-1.png">
                <p class="flex justify-center items-center">Kenneth Corvera</p>
              </div>
            </div>
            <div class="md:pb-20 pb-6">
              <div class="review-item light">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-2.png">
                <p class="flex justify-center items-center">Cathy Raymundo</p>
              </div>
            </div>
            <div class="md:pb-20 pb-6">
              <div class="review-item dark">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-3.png">
                <p class="flex justify-center items-center">Sonny Pagara</p>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="grid md:grid-cols-3 gap-5 px-8">
            <div class="md:pb-20 pb-6">
              <div class="review-item dark">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-1.png">
                <p class="flex justify-center items-center">Kenneth Corvera</p>
              </div>
            </div>
            <div class="md:pb-20 pb-6">
              <div class="review-item light">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-2.png">
                <p class="flex justify-center items-center">Cathy Raymundo</p>
              </div>
            </div>
            <div class="md:pb-20 pb-6">
              <div class="review-item dark">
                <div class="">
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  <div class="">
                    <p class="text-white font-normal mt-2 text-sm leading-relaxed">
                      “Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                      directe al desirabilite de un nov lingua franca!”
                    </p>
                    <div class="text-right text-white text-xs mt-5">May 09, 2023
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex ml-[1rem] mt-8">
                <img class="w-9 h-9 mr-4" src="assets/images/user-3.png">
                <p class="flex justify-center items-center">Sonny Pagara</p>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>