.search-input,
.ant-input {
  height: auto;

  .search-bar {
    background-color: #DDE4ED;
    border-style: none;
    height: 100%;
    border-radius: 5px;
  }
}

.item-value {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: #3376E4;
  font-size: 7px;
  color: #fff;
}

li {
  display: inline;
}

.topnav {
  overflow: hidden;

  a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    //border-bottom: 6px solid transparent;
  }

  a:hover {
    //border-bottom: 6px solid #676970;
  }

  a.active {
    //border-bottom: 6px solid #676970;
    color: var(--excite-pay-primary-500);
  }
}

nav {
  .navbar-btn {
    .btn {
      height: auto!important;
    }
  }
}

nz-badge {
  .btn {
    height: 100%;
  }
  img {
    margin: 0 auto;
  }

  nz-badge-sup {
        top: 16px;
          right: 10px;
  }
}

.ant-badge-count-sm {
  top: 16px;
    right: 10px;
}