<!--1st nav-->
<nav class="w-full flex items-center justify-between print:justify-center p-4 relative" style="background-color: #333335;" >
  <div class="ml-20">
    <img src="/assets/images/ExcitePay-Logo.png" class="w-32">
  </div>
  <div class="flex items-center search-input">
    <nz-input-group class="search-bar" [nzSuffix]="suffixIconSearch" >
      <input type="text" class="search-bar" nz-input placeholder="Search" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search">
        <img style="mix-blend-mode: soft-light;" src="/assets/icons/search-icon.svg">
      </span>
    </ng-template>
    <div class="ml-3.5">
      <div class="flex md:m-0 w-5 h-5">
        <img src="/assets/icons/pushcart-icon.svg">
        <div class="absolute text-center item-value ml-4">
          <span>0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center mr-14">
    <button nz-button nzType="text"><span class="text-white text-sm">Log In</span></button>
    <button nz-button nzType="primary" class="w-24 h-10 rounded-lg">Sign Up</button>
  </div>
</nav>
<!--2nd nav-->
<nav class="w-full flex items-center justify-between print:justify-center p-4 relative" style="background-color: #222327;">
  <div class="topnav">
    <ul class="list-none ml-20">
      <li>
        <a href="#home" class="active text-sm font-semibold text-white">Home</a>
      </li>
      <li>
        <a href="#features" class="text-sm font-semibold text-white mx-10">Features</a>
      </li>
      <li>
        <a href="#gift-cards" class="text-sm font-semibold text-white">Gift Cards</a>
      </li>
      <li>
        <a href="#about" class="text-sm font-semibold text-white ml-10">About</a>
      </li>
    </ul>
  </div>
  <div class="topnav">
    <ul class="list-none mr-12">
      <li>
        <a href="#support" class="text-sm font-semibold text-white mr-10">Support</a>
      <li>
        <a href="#contact-us" class="text-sm font-semibold text-white">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>