<nav class="py-3">
  <!--1st nav-->
  <div class="container">
    <!-- <div class="md:hidden">

    </div>
    <div class="hidden md:block">

    </div> -->
    <div class="w-full flex items-stretch">
      <img src="/assets/images/ExcitePay-Logo-1.png" class="w-32 md:w-40 py-2 mr-5">
      <div class="w-full flex items-stretch">
        <div class="xl:w-[560px] lg:w-[500px] md:w-[400px] md:block hidden search-input">
          <nz-input-group class="search-bar" [nzSuffix]="suffixIconSearch">
            <input type="text" class="search-bar" nz-input placeholder="Search" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon>
              <img src="/assets/icons/search-icon.svg">
            </span>
          </ng-template>
        </div>
        <div class="ml-auto flex items-stretch">
          <nz-badge [nzCount]="5" [nzStyle]="{ backgroundColor: '#3376E4' }" nzSize="small">
            <button class="btn btn-clear mx-2">
              <img src="/assets/icons/pushcart-black-icon.svg" class="m-auto w-7">
              <span class="text-sm hidden xl:block">My Cart</span>
            </button>
          </nz-badge>
          <button class="btn btn-clear mx-2">
            <img src="/assets/icons/user-dark-icon.svg" class="m-auto w-7">
            <span class="text-sm hidden xl:block">Log In</span>
          </button>
          <button nz-button nzType="primary" class="btn mx-2 h-auto">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="w-full flex items-center justify-between print:justify-center p-4 relative">
    <div class="ml-20">
      <img src="/assets/images/ExcitePay-Logo-1.png" class="w-32">
    </div>
    <div class="flex items-center search-input">
      <nz-input-group class="search-bar" [nzSuffix]="suffixIconSearch" >
        <input type="text" class="search-bar" nz-input placeholder="Search" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search">
          <img src="/assets/icons/search-icon.svg">
        </span>
      </ng-template>
      <div class="ml-3.5">
        <button class="flex">
          <div class="flex md:m-0 w-5 h-5">
            <img src="/assets/icons/pushcart-black-icon.svg">
            <div class="absolute text-center item-value ml-4">
              <span>0</span>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="flex items-center mr-14">
      <button nz-button nzType="text"><span class="font-semibold text-sm text-black">Log In</span></button>
      <button nz-button nzType="primary" class="w-24 h-10 rounded-lg">Sign Up</button>
    </div>
    <div class="flex items-center justify-items-end">
      <button nz-button><img src="./assets/icons/icon-menu.svg"></button>
    </div>
  </div> -->

  <!--2nd nav-->
  <div class=" w-full flex items-center justify-between print:justify-center p-4 relative">
    <div class="topnav">
      <ul class="list-none ml-20">
        <li>
          <a href="#home" class="active text-sm font-semibold text-black">Home</a>
        </li>
        <li>
          <a href="#features" class="text-sm font-semibold mx-10 text-black	">Features</a>
        </li>
        <li>
          <a href="#gift-cards" class="text-sm font-semibold text-black	">Gift Cards</a>
        </li>
        <li>
          <a href="#about" class="text-sm font-semibold ml-10 text-black	">About</a>
        </li>
      </ul>
    </div>
    <div class="topnav">
      <ul class="list-none mr-12">
        <li>
          <a href="#support" class="text-sm font-semibold mr-10 text-black	">Support</a>
        <li>
          <a href="#contact-us" class="text-sm font-semibold text-black	">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>