nav {
  .btn {
    line-height: 0;
  }
}

nz-badge {
  .btn {
    height: 100%;
  }
}

.nav-link {
  @apply text-sm font-semibold text-black;

  &.active { @apply text-primary-500}
}

.nav-cta {
  @apply bg-primary-500 rounded-md;

  .nav-link{ @apply text-white;
  }
}

.search-input,
.ant-input {
  height: auto;

  .search-bar {
    background-color: #DDE4ED;
    border-style: none;
    height: 100%;
    border-radius: 5px;
  }
}

.ant-menu {
  border: none;
  line-height: 0;
}

.topnav {
  .ant-menu-item {
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
    &::after { display: none; }
  }
}