<section>
  <div class="container-fluid py-20">
    <div class="text-center">
      <h1 class="text-primary-600 font-extrabold text-4xl mb-2">FAQs</h1>
      <p class="text-base mb-10 font-medium w-full md:w-[550px] m-auto">Omnis iste natus error sit voluptatem accusantium
        doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab </p>
    </div>
    <div class="md:w-4/6 m-auto">
      <nz-collapse nzAccordion nzBordered="false" nzExpandIconPosition="right" >
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?" nzActive="panel.active" nzBordered="false">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Sed ut perspiciatis unde?">
          <div class="p-4">
            <p class="">Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</section>