<app-navbar></app-navbar>
<div class="card default">
  <div>discount</div>
  <div>top-star</div>
</div>

<app-hero></app-hero>

<!-- categories  -->
<section class="bg-white mt-20" style="height: 90vh;">
    <h2 class="text-center text-4xl my-11 text-[#275CB1] font-extrabold">Other Categories</h2>

    <div class="grid grid-cols-4 gap-4 "  nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nz-col nzJustify="center" style="margin-bottom: 20px !important;">
        <!-- top  -->
        <div class="col-1-img rounded-lg pt-7" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Groceries</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more ">SEE MORE</a>
            </div>
        </div>
        <div class="col-2-img rounded-lg pt-7 height-100" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Pets</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more ">SEE MORE</a>
            </div>
        </div>
        <div class="col-3-img rounded-lg pt-7 height-100" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Retail</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more ">SEE MORE</a>
            </div>
        </div>
        <div class="col-4-img rounded-lg pt-7 height-100" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Experience</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more ">SEE MORE</a>
            </div>
        </div>
        
      </div>

      <div class="grid grid-cols-4 gap-4"  nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nz-col nzJustify="center">
        <!-- bottom  -->
        <div class="col-5-img rounded-lg pt-7 height-100" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Health & Beauty</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more ">SEE MORE</a>
            </div>
        </div>
        <div class="col-6-img rounded-lg pt-7 height-100" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Electronics</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more">SEE MORE</a>
            </div>
        </div>
        <div class="col-7-img rounded-lg pt-7 height-100" nz-col nzSpan="4">
            <div class="category bg-img text-white">
                <h3 class="mb-44 text-white text-2xl">Subscriptions</h3>
                <p class="text-sm mb-1">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                <a href="#seemore" class="text-white see-more">SEE MORE</a>
            </div>
        </div>
        <div class="content-center align-items-center rounded-lg pt-7 height-100 bg-black text-center" nz-col nzSpan="4" style="display: grid !important;">
            <a href="#viewall" class="text-white text-base">View All</a>
        </div>
      </div>
</section>

<!-- about section  -->
<section class="about-bg">
    <img src="/assets/images/about-img.png" alt="" class="absolute right-[340px] h-90 mt-7">
    <div class="container pt-20 pl-40 w-2/6 ml-20">
        <h2 class="text-4xl font-extrabold mb-4 text-[#275CB1]">About ExcitePay</h2>
        <p class="text-base mt-5">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <p class="text-base">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

        <Button class="bg-black text-white py-2 px-5 rounded text-base mt-10">Read More</Button>
    </div>

</section>