<app-navbar></app-navbar>
<!-- <app-hero></app-hero> -->
<section class="hero-section">
  <div class="container-fluid h-full">
    <div nz-row class="items-stretch h-full">
      <div nz-col nzSm="24" nzMd="12" nzLg="13" class=" py-10 text-white">
        <h1 class="text-[45px] lg:text-6xl text-white font-extrabold mb-12 lg:mb-20 lg:mt-10">
          Shop retail & online with true crypto currency debit cards</h1>
        <p>Li nov lingua franca va esser plu simplic e regulari
          quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
        <div class="flex items-center my-10">
          <a href="#appstore" class="mr-4"><img src="/assets/images/appstore-btn.svg" class="h-14"></a>
          <a href="#playstore"><img src="/assets/images/playstore-btn.svg" class="h-14"></a>
        </div>
      </div>
      <div nz-col nzMd="12" nzLg="11" class="relative">
        <img src="/assets/images/hero-phone.webp" class="absolute bottom-0 md:block hidden">
      </div>
    </div>
  </div>
</section>
<div class="py-24 bg-[#F5F6F9]">
  <app-featured-cards></app-featured-cards>
  <div class="mb-20"></div>
  <app-food></app-food>
  <div class="mb-20"></div>
  <app-gaming></app-gaming>
  <div class="mb-20"></div>
  <app-prepaid></app-prepaid>
</div>
<app-category></app-category>
<app-about></app-about>
<app-app-features></app-app-features>
<app-how-it-works></app-how-it-works>
<app-review></app-review>
<app-faq></app-faq>
<app-cta></app-cta>
<app-footer></app-footer>

