.hero-section {
  background: url(/assets/images/hero-header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  h1 {
    line-height: 1.25;
  }

  @media screen and (min-width: 992px) {
    height: 85vh;
    max-height: 650px;
  }
}

.featured-card {
  @apply bg-white rounded-lg;

  .btn-container {
    @apply grid gap-2 grid-cols-2;
  }

  .box-title {
    @apply text-base font-extrabold mb-1 w-full text-ellipsis overflow-hidden whitespace-nowrap;
  }
}

.discount {
  @apply rounded-br-xl rounded-tl-lg text-center text-white text-xs font-medium px-3 py-2;
  background: #34A853;
}

.category {

  &-item {
    @apply flex flex-col justify-between px-7 py-8 rounded-xl h-[280px] lg:h-[300px] bg-cover;

    &.link {
      flex-direction: row !important;
      justify-content: center !important;
    }
  }

  &-header {
    @apply text-white text-2xl font-extrabold;
  }
}

.bg-grocery {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/grocery.jpg');
}

.bg-pets {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/pets.jpg');
}

.bg-retail {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/retail.jpg');
}

.bg-experience {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/experience.jpg');
}

.bg-electronics {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/electronics.jpg');
}

.bg-healthnbeauty {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/health-n-beauty.jpg');
}

.bg-subscription {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/subscription.jpg');
}

.about-bg {
  background: url("../../../assets/images/about-bg.svg");
  background-size: cover;
  background-position: center;
}

.how-it-works {
  .card {
    background-color: #FCFCFC;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

    &-header {
      @apply bg-primary-900 p-3 text-left flex items-center;
      border-radius: 8px;

      h2 {
        @apply font-extrabold text-xl text-white;
        padding-left: calc(38px + 1rem);
      }

      .numbering {
        @apply bg-primary text-white font-semibold text-2xl flex items-center justify-center absolute -top-[20px];
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }

    &-body {
      @apply p-8 text-left;
    }
  }

  .top-dashed {
    position: absolute;
    left: 25%;
    top: -44px;
  }

  .bottom-dashed {
    position: absolute;
    right: 25%;
    bottom: -44px;
  }
}

.review-bg {
  background: url(/assets/images/review-bg.png);
  // min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.review-item {
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem;
  min-height: 150px;
  position: relative;
  margin-bottom: 2rem;

  &.dark {
    background: #102F59;

    &::after {
      background-image: url('../../../assets/images/speech-tip-dark.svg');
    }
  }

  &.light {
    background: #275CB1;

    &::after {
      background-image: url('../../../assets/images/speech-tip-light.svg');
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 20px;
    border-style: solid;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    // border-width: 20px 30px 0 0;
    //     border-color: #102e59 transparent transparent transparent;
    left: 2rem;
    bottom: -20px;
  }
}