.hero-section {
  background: url(/assets/images/hero-header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  h1 {
    line-height: 1.25;
  }

  @media screen and (min-width: 992px) {
    height: 85vh;
    max-height: 650px;
  }
}

.featured-card {
  @apply bg-white rounded-lg;

  .btn-container {
    @apply grid gap-2 grid-cols-2;
  }

  .box-title {
    @apply text-base font-extrabold mb-1 w-full text-ellipsis overflow-hidden whitespace-nowrap;
  }
}

.discount {
  @apply rounded-br-xl rounded-tl-lg text-center text-white text-xs font-medium px-3 py-2;
  background: #34A853;
}

.category {

  &-item {
    @apply flex flex-col justify-between px-7 py-8 rounded-xl h-[280px] lg:h-[300px] bg-cover;

    &.link {
      flex-direction: row !important;
      justify-content: center !important;
    }
  }

  &-header {
    @apply text-white text-2xl font-extrabold;
  }
}

.bg-grocery {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/grocery.jpg');
}

.bg-pets {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/pets.jpg');
}

.bg-retail {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/retail.jpg');
}

.bg-experience {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/experience.jpg');
}

.bg-electronics {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/electronics.jpg');
}

.bg-healthnbeauty {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/health-n-beauty.jpg');
}

.bg-subscription {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 51, 104, 0.9) 0%), url('/assets/images/subscription.jpg');
}