<section class="w-full py-20">
    <div class="text-center">
        <h1 class="text-[#275cb1] font-extrabold text-4xl">How ExcitePay works</h1>
    </div>

    <div class="pt-20" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center">
        <!-- card 1 -->
        <div class="mt-10" nz-col nzSpan="5">
            <div class="card rounded-lg">
                <div class="absolute text-center numbering ml-3 mt-1">
                    <div class="mt-1"><span class="text-white font-medium text-2xl m-auto">1</span></div>
                </div>
                <div class="bg-[#102F59] rounded-lg	w-[380px] h-[51px] flex items-center mb-16 "> <!-- header -->
                    <h2 class="text-white font-bold text-2xl m-auto">Select the amount</h2>
                </div>
                <div class="bg-[#FCFCFC]">
                    <div class="img-center">
                        <img class="h-44 w-60 mx-auto" src="assets/images/select-amount.png">
                    </div>
                    <p class="mt-12 font-medium text-base px-[25px]">Select ot type the amount you want the card to have.</p>
                </div>
            </div>
        </div>
        
        <!-- card 2 -->
        <div nz-col nzSpan="5">
            <div class="card rounded-lg">
                <div class="absolute text-center numbering ml-3 mt-1">
                    <div class="mt-1">
                        <span class="text-white font-medium text-2xl m-auto">2</span>
                    </div>
                </div>
                <div class="bg-[#102F59] rounded-lg	w-[380px] h-[51px] flex items-center mb-6"> <!-- header -->
                    <h2 class="text-white font-bold text-2xl m-auto">Pay with preferred coin</h2>
                </div>
                <div class="bg-[#FCFCFC]">
                    <div class="img-center">
                        <img class="w-[230px] h-[205px] mx-auto" src="assets/images/preferred-coins.png">
                    </div>
                    <p class="mt-12 font-medium text-base px-[25px]">Your payment is confirmed the same minute in most cases.</p>
                </div>
            </div>
        </div>
        
        <!-- card 3 -->
        <div class="mt-10" nz-col nzSpan="5">
            <div class="card rounded-lg">
                <div class="absolute text-center numbering ml-3 mt-1">
                    <div class="mt-1">
                        <span class="text-white font-medium text-2xl m-auto">3</span>
                    </div>
                </div>
                <div class="bg-[#102F59] rounded-lg	w-[380px] h-[51px] flex items-center mb-10"> <!-- header -->
                    <h2 class="text-white font-bold text-2xl m-auto">That’s it, ready to use it!</h2>
                </div>
                <div class="bg-[#FCFCFC]">
                    <div class="img-center">
                        <img class="h-[162px] w-[242px] mx-auto" src="assets/images/ready-to-use.png">
                    </div>
                    <p class="mt-16 font-medium text-base px-[25px]">Redeem your card at your chosen retailer according to their instructions.</p>
                </div>
            </div>
        </div>
       
    </div>
</section>
