.card {
  background-color: #FCFCFC;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  
  &-header {
    @apply bg-primary-900 p-3 text-left flex items-center;
    border-radius: 8px;

    h2 {
      @apply font-extrabold text-xl text-white;
      padding-left: calc(38px + 1rem);
    }

    .numbering {
      @apply bg-primary text-white font-semibold text-2xl flex items-center justify-center absolute -top-[20px];
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  &-body {
    @apply p-8 text-left;
  }
}

.top-dashed {
  position: absolute;
  left: 25%;
  top: -44px;
}

.bottom-dashed {
  position: absolute;
  right: 25%;
  bottom: -44px;
}