<section>
	<div class="container-fluid pt-16 pb-32 text-center">
		<h1 class="text-primary-600 font-extrabold text-4xl mb-28">How ExcitePay works</h1>
		<div class="grid md:grid-cols-3 gap-10 relative">
			<img src="./assets/images/top-dashed.svg" class="hidden md:block top-dashed">
			<div>
				<div class="card rounded-lg mt-10">
					<div class="card-header">
						<div class="numbering">1</div>
						<h2>Select the amount</h2>
					</div>
					<div class="card-body">
						<img class="w-60 mx-auto" src="assets/images/select-amount.png">
						<p class="mt-8 font-medium text-base">Select ot type the amount you want the card to have.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="card rounded-lg">
					<div class="card-header">
						<div class="numbering">2</div>
						<h2>Pay with preferred coin</h2>
					</div>
					<div class="card-body">
						<img class="w-60 mx-auto" src="assets/images/preferred-coins.png">
						<p class="mt-8 font-medium text-base">Your payment is confirmed the same minute in most cases.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="card rounded-lg mt-10">
					<div class="card-header">
						<div class="numbering">3</div>
						<h2>That’s it, ready to use it!</h2>
					</div>
					<div class="card-body">
						<img class="w-60 mx-auto" src="assets/images/ready-to-use.png">
						<p class="mt-8 font-medium text-base">Redeem your card at your chosen retailer according to their
							instructions.</p>
					</div>
				</div>
			</div>
			<img src="./assets/images/bottom-dashed.svg" class="hidden md:block bottom-dashed">
		</div>
	</div>
</section>