<section>
	<div class="container-fluid py-28">
		<div class="text-center">
			<h1 class="text-primary-600 font-extrabold text-4xl mb-5">ExcitePay App Features</h1>
			<p class="text-base font-medium w-full md:w-[550px] m-auto">Nullam dictum felis eu pede mollis pretium. Integer
				tincidunt.
				Cras dapibus. Vivamus elementum semper nisi.</p>
		</div>
		<div class="grid grid-cols-5 gap-6 py-14">
			<div class="text-center">
				<img class="block m-auto" src="assets/icons/shop-retail-icon.svg">
				<p class="mt-4 w-[185px] m-auto text-primary-600 font-bold text-lg text-center">Shop Retail & Online</p>
			</div>
			<div class="text-center">
				<img class="block m-auto" src="assets/icons/gift-card-icon.svg">
				<p class="mt-4 w-[185px] m-auto text-primary-600 font-bold text-lg text-center">Instant Issue Gift Cards</p>
			</div>

			<div class="text-center">
				<img class="block m-auto" src="assets/icons/fast-checkout-icon.svg">
				<p class="mt-4 w-[185px] m-auto text-primary-600 font-bold text-lg text-center">Extremely Fast Checkout</p>
			</div>

			<div class="text-center">
				<img class="block m-auto" src="assets/icons/excitepay-card-icon.svg">
				<p class="mt-4 w-[185px] m-auto text-primary-600 font-bold text-lg text-center">Manage ExcitePay Cards</p>
			</div>

			<div class="text-center">
				<img class="block m-auto" src="assets/icons/online-support-icon.svg">
				<p class="mt-4 w-[185px] m-auto text-primary-600 font-bold text-lg text-center">24/7 Online Support</p>
			</div>
		</div>
	</div>
</section>