<section class="h-2/4">
    <div class="container px-32">
        <div nz-row c>
            <div nz-col nzSpan="9" class="mb-40">
                <img src="/assets/images/ExcitePay-Logo-1.png" class="w-44 mb-2.5">
                <span class="circle"></span><p class="text-sm">United States</p>
                <span class="circle"></span><p class="text-sm">English</p>
            </div>
            <div nz-col nzSpan="3">
                <p class="text-xs font-extrabold">Navigation</p>
                <ul class="grid gap-3">
                    <li><a href="#Home" class="text-black">Home</a></li>
                    <li><a href="#features" class="text-black">Features</a></li>
                    <li><a href="#features" class="text-black">Gift Card</a></li>
                    <li><a href="#features" class="text-black">About</a></li>
                  </ul>
            </div>
            <div nz-col nzSpan="3">
                <p class="text-xs font-extrabold">Support</p>
                <ul class="grid gap-3">
                    <li><a href="#home" class="text-black">Help</a></li>
                    <li><a href="#features" class="text-black">Contact Us</a></li>
                    <li><a href="#giftcard" class="text-black">Product Request</a></li>
                    <li><a href="#about" class="text-black">Purchase Limits</a></li>
                  </ul>
            </div>
            <div nz-col nzSpan="3">
                <p class="text-xs font-extrabold">Company</p>
                <ul class="grid gap-3">
                    <li><a href="#features" class="text-black">Careers</a></li>
                    <li><a href="#features" class="text-black">Press</a></li>
                    <li><a href="#features" class="text-black">Blog</a></li>
                    <li><a href="#features" class="text-black">Reviews</a></li>
                  </ul>
            </div>
            <div nz-col nzSpan="6" class="text-center">
                <h1>United States</h1>
            </div>
        </div>

        <div class="divider"></div>

        <div nz-row>
            <div nz-col nzSpan="12">
                <p>all rights</p>
            </div>
            <div nz-col nzSpan="12">
                <div nz-row>
                    <div nz-col></div>
                    <div nz-col></div>
                    <div nz-col></div>
                </div>
            </div>
        </div>
    </div>
</section>



