<section class="h-2/6">
    <div class="px-32">
        <div nz-row c>
            <div nz-col nzSpan="9" class="mb-40">
                <img src="/assets/images/ExcitePay-Logo-1.png" class="w-44 mb-4">
                <div class="flex">
                    <span class="circle mr-2"></span><p class="text-sm">United States</p>
                </div>
                <div class="flex">
                    <span class="circle mr-2"></span><p class="text-sm">English</p>
                </div>
                
            </div>
            <div nz-col nzSpan="3">
                <p class="text-xs font-extrabold">Navigation</p>
                <ul class="grid gap-3">
                    <li><a href="#Home" class="text-black">Home</a></li>
                    <li><a href="#features" class="text-black">Features</a></li>
                    <li><a href="#features" class="text-black">Gift Card</a></li>
                    <li><a href="#features" class="text-black">About</a></li>
                  </ul>
            </div>
            <div nz-col nzSpan="3">
                <p class="text-xs font-extrabold">Support</p>
                <ul class="grid gap-3">
                    <li><a href="#home" class="text-black">Help</a></li>
                    <li><a href="#features" class="text-black">Contact Us</a></li>
                    <li><a href="#giftcard" class="text-black">Product Request</a></li>
                    <li><a href="#about" class="text-black">Purchase Limits</a></li>
                  </ul>
            </div>
            <div nz-col nzSpan="3">
                <p class="text-xs font-extrabold">Company</p>
                <ul class="grid gap-3">
                    <li><a href="#features" class="text-black">Careers</a></li>
                    <li><a href="#features" class="text-black">Press</a></li>
                    <li><a href="#features" class="text-black">Blog</a></li>
                    <li><a href="#features" class="text-black">Reviews</a></li>
                  </ul>
            </div>
            <div nz-col nzSpan="6" class="text-center">
                <h1>United States</h1>
            </div>
        </div>

        <div class="divider"></div>

        <div nz-row>
            <div nz-col nzSpan="12">
                <p><span class="font-semibold">© Copyright 2023.</span> All Rights Reserved. Created and Developed by DexignHub.com</p>
            </div>
            <div nz-col nzSpan="12">
                <div class="flex justify-end">
                <p class="mr-1"><a href="#termsofservice" class="text-black text-medium">Terms of Service</a><span class="mx-1">|</span><a href="#privacy" class="text-black text-medium">Privacy Policy</a><span class="mx-1">|</span><a href="#support" class="text-black text-medium">Support</a> </p>
            </div>
            </div>
            
        </div>
    </div>
</section>



