.divider{
    border-bottom: 1px solid #E4E8F1;
    margin: 2px 0;
    height: 2px;
    width: auto;
}
.circle{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}