<footer>
  <div class="container-fluid">
    <div class="py-20">
      <div class="grid md:grid-cols-6 grid-cols-2 items-start">
        <div class="col-span-2 mb-10">
          <img src="/assets/images/ExcitePay-Logo-1.png" class="w-44 mb-4">
          <div class="flex items-center mb-2">
            <div class="circle mr-2"></div>
            <div class="text-sm">United States</div>
          </div>
          <div class="flex items-center mb-2">
            <div class="circle mr-2"></div>
            <div class="text-sm">English</div>
          </div>
        </div>
        <div class="mb-10">
          <div class="text-xs font-extrabold mb-2">Navigation</div>
          <ul class="nav-links">
            <li><a href="#Home">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#features">Gift Card</a></li>
            <li><a href="#features">About</a></li>
          </ul>
        </div>
        <div class="mb-10">
          <div class="text-xs font-extrabold mb-2">Support</div>
          <ul class="nav-links">
            <li><a href="#Home">Help</a></li>
            <li><a href="#features">Contact Us</a></li>
            <li><a href="#features">Purchase Limits</a></li>
          </ul>
        </div>
        <div class="mb-10">
          <div class="text-xs font-extrabold mb-2">Company</div>
          <ul class="nav-links">
            <li><a href="#features">Careers</a></li>
            <li><a href="#features">Press</a></li>
            <li><a href="#features">Blog</a></li>
            <li><a href="#features">Reviews</a></li>
          </ul>
        </div>
        <div class="mb-10">
          <div class="flex justify-end gap-2.5">
            <a href="#facebook"><img src="/assets/images/fb-icon.svg" alt="facebook"></a>
            <a href="#instagram"><img src="/assets/images/ig-icon.svg" alt="instagram"></a>
            <a href="#twitter"><img src="/assets/images/twitter-icon.svg" alt="twitter"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="md:flex items-center justify-between py-5 text-sm">
      <div class="text-center md:text-left mb-5">
        <span class="font-semibold">© Copyright 2023.</span> All Rights Reserved. Created and Developed by <a
          href="https://www.dexignhub.com/">DexignHub.com</a>
      </div>
      <div class="text-center md:text-right">
        <a href="#termsofservice" >Terms of Service</a><span class="mx-1">|</span>
        <a href="#privacy" >Privacy Policy</a><span class="mx-1">|</span>
        <a href="#support" >Support</a>
      </div>
    </div>
  </div>
</footer>