<section>
    <div class="card grid">
        <div class="place-self-center">
            <h1 class="text-5xl font-extrabold text-center text-white mb-7">Go Shopping with ExcitePay Today!</h1>

            <div class="flex flex-row place-content-center">
                <a href="#appstore" class="mr-4"><img src="/assets/images/appstore-btn.svg" class=""></a>
                <a href="#playstore"><img src="/assets/images/playstore-btn.svg" class=""></a>
            </div>
        </div>
    </div>
</section>
