.card{
    background: url(/assets/images/cta-bg.svg);
    min-height: 80vh;
    // max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    // width: 100%;
}